@import "../../../styles/_mixins.scss";
@import "../../../styles/_sizes.scss";

.btn {
  border: 0;
  outline: 0;
  border-radius: $mentalyc-md;
  transition: 0.3s ease-in-out;
  color: var(--mentalyc-white);

  &:hover {
    opacity: 0.8;
    border-radius: $mentalyc-sm;
  }

  &:disabled {
    background: var(--mentalyc-bg-dark) !important;
    cursor: default !important;
  }
}

.gradient {
  background: linear-gradient(to right, #731054 0%, #de0d6f 100%);
}

.sm {
  @include font(0.9em, 400);
}

.md {
  @include font(0.99em, 400);
}

.lg {
  @include font(1.1em, 400);
}
