@import "../../../styles/_mixins.scss";

@import "../../../styles/_sizes.scss";

.wrapper {
  z-index: 1;
  top: 0px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-top: 10em;
  background-color: var(--mentalyc-bg-fade);
  @include scrollbars(5px, var(--mentalyc-bg-fade));

  > div:nth-child(1) {
    @media screen and (max-width: 768px) {
      min-height: 100vh;
    }
  }

  @media screen and (max-width: 768px) {
    min-height: 100vh;
    padding-top: 7em;
  }

  .container {
    height: 100%;
    background-color: var(--mentalyc-white);
    border-radius: $mentalyc-xl;

    button {
      background-color: transparent;
      outline: 0;
      border: 0;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
